Name    = "Ehtisham Ahmad"

email   = "ehtishamahmed10@gmail.com"

# Decision Tree Classifier Assignment

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('mldata.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [4]:
df['gender']=df['gender'].replace('Male',1)
df['gender']=df['gender'].replace('Female',0)
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [5]:
X = df[['age','height','weight','gender']]
y=df['likeness']

In [6]:
X.head()

   age   height  weight  gender
0   27  170.688    76.0       1
1   41  165.000    70.0       1
2   29  171.000    80.0       1
3   27  173.000   102.0       1
4   29  164.000    67.0       1

In [7]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [8]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model= DecisionTreeClassifier().fit(X,y)

joblib.dump(model, 'foodie.joblib')

['foodie.joblib']

In [9]:
#  Assignment loading and running the saved model
loaded_model= joblib.load('foodie.joblib')
result=loaded_model.predict([[27,170,76,1]])
result

C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [10]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test,y_train,y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model=DecisionTreeClassifier().fit(X_train, y_train)

predicted_values=model.predict(X_test)

score=accuracy_score(y_test,predicted_values)
score

0.5102040816326531

In [11]:
from sklearn import tree
model = DecisionTreeClassifier().fit(X,y)

#graphic evaluation(look into what happened)
tree.export_graphviz(model, out_file='foodie.dot',
                      feature_names=['age','height','weight','gender'],
                      class_names=sorted(y.unique()), label='all',
                      rounded=True, filled=True)