Name    = "Ehtisham Ahmad"

email   = "ehtishamahmed10@gmail.com"

## Decision Tree Algorithm in ML
For categorical(discrete) variable we use decision tree

In [2]:
# import libraries
import pandas as pd
df=pd.read_csv("mldata.csv")
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [2]:
# changing categorical (gender) into (dummy)
df['gender']=df['gender'].replace('Male',1)
df['gender']=df['gender'].replace('Female',0)
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [3]:
# selection of input and output variables
X=df[['weight','gender']]
y=df['likeness']

In [4]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [5]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [6]:
# machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

# create and fit our model
model = DecisionTreeClassifier().fit(X,y)

#prediction
model.predict([[23,0]])

C:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [60]:
# checking the acuracy of our model

## split data into train and test(80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2, random_state=0)
# 80% training data and 20% testing

# create a model
model= DecisionTreeClassifier()
# fitting a model
model.fit(X_train,y_train)
predicted_values = model.predict(X_test)
predicted_values

#checking the score
# y_test= actual_values
score = accuracy_score(y_test, predicted_values)
score

0.6122448979591837

In [8]:
# training and saving your model

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model= DecisionTreeClassifier().fit(X,y)

joblib.dump(model, 'foodie.joblib')

['foodie.joblib']

In [9]:
# import/running a stored or saved model on our data

## ASSIGNMENT
loaded_model = joblib.load('foodie.joblib')
result=loaded_model.score(X_test, y_test)
result

0.7959183673469388

In [11]:
# graph
from sklearn import tree
model = DecisionTreeClassifier().fit(X,y)

#graphic evaluation(look into what happened)
tree.export_graphviz(model, out_file='foodie.dot',
                      feature_names=['weight','gender'],
                      class_names=sorted(y.unique()), label='all',
                      rounded=True, filled=True)

# this tree follows if/else loop(left branch is if loop and right is else)
#Check the image by running this code for further understanding
# this tree is used for (Example: email spamming)